In [100]:
#import libraries
import pandas as pd
from sklearn.tree import DecisionTreeClassifier #import decision tree classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [101]:
df_data=pd.read_csv('Data_Processed_All_Contractors_Characteristics.csv')

In [102]:
df_data.shape

(5046, 71)

In [103]:
column_list=list(df_data.columns)
print(column_list)

['Dealer ID', 'Converted State-AL', 'Converted State-AR', 'Converted State-CA', 'Converted State-FL', 'Converted State-GA', 'Converted State-IL', 'Converted State-IN', 'Converted State-KY', 'Converted State-LA', 'Converted State-MI', 'Converted State-MO', 'Converted State-NC', 'Converted State-NJ', 'Converted State-OH', 'Converted State-Others', 'Converted State-PA', 'Converted State-SC', 'Converted State-TN', 'Converted State-TX', 'employeebucket-NA', 'employeebucket-4~8', 'employeebucket-<4', 'employeebucket->8', 'No. of Employees', 'Sales between 0-99,999', 'Sales between 100,000-499,999', 'Other Sales', 'Sales N/A', 'Currently offers Consumer Financing?_No', 'Currently offers Consumer Financing?_Yes', 'Currently offers Consumer Financing?_N/A', 'Over 10', 'Below 10', 'No year info', 'Gibson 18.Column3', 'Hitting Potential 16.Column3', 'JS 16.Column3', 'JS 17.Column3', 'JS 18.Column3', 'JS 19.Column3', 'NON USER 16.Column3', 'NON USER 17.Column3', 'NON USER 18.Column3', 'Velocity 17.Column3', 'centurty 18.Column3', 'brand_1', 'brand_2', 'brand_3', 'brand_4', 'brand_5', 'brand_6', 'brand_7', 'brand_8', 'registed 2016', 'applied 2016', 'applied 2017', 'applied or not 2018', 'applied 2019', '2016_summer', '2016_winter', '2016_other', '2017_summer', '2017_winter', '2017_other', '2018_summer', '2018_winter', '2018_other', '2019_summer', '2019_winter', '2019_other']

In [104]:
df_data.columns

Index(['Dealer ID', 'Converted State-AL', 'Converted State-AR',
       'Converted State-CA', 'Converted State-FL', 'Converted State-GA',
       'Converted State-IL', 'Converted State-IN', 'Converted State-KY',
       'Converted State-LA', 'Converted State-MI', 'Converted State-MO',
       'Converted State-NC', 'Converted State-NJ', 'Converted State-OH',
       'Converted State-Others', 'Converted State-PA', 'Converted State-SC',
       'Converted State-TN', 'Converted State-TX', 'employeebucket-NA',
       'employeebucket-4~8', 'employeebucket-<4', 'employeebucket->8',
       'No. of Employees', 'Sales between 0-99,999',
       'Sales between 100,000-499,999', 'Other Sales', 'Sales N/A',
       'Currently offers Consumer Financing?_No',
       'Currently offers Consumer Financing?_Yes',
       'Currently offers Consumer Financing?_N/A', 'Over 10', 'Below 10',
       'No year info', 'Gibson 18.Column3', 'Hitting Potential 16.Column3',
       'JS 16.Column3', 'JS 17.Column3', 'JS 18.Column3', 'JS 19.Column3',
       'NON USER 16.Column3', 'NON USER 17.Column3', 'NON USER 18.Column3',
       'Velocity 17.Column3', 'centurty 18.Column3', 'brand_1', 'brand_2',
       'brand_3', 'brand_4', 'brand_5', 'brand_6', 'brand_7', 'brand_8',
       'registed 2016', 'applied 2016', 'applied 2017', 'applied or not 2018',
       'applied 2019', '2016_summer', '2016_winter', '2016_other',
       '2017_summer', '2017_winter', '2017_other', '2018_summer',
       '2018_winter', '2018_other', '2019_summer', '2019_winter',
       '2019_other'],
      dtype='object')

In [105]:
def find_index(name):
    index_num = column_list.index(name)
    print(index_num)

In [106]:
find_index('applied 2016')

55

In [107]:
df_2016=df_data.loc[df_data['registed 2016']==1]

In [108]:
#df_2016_applied=df_data.loc[df_data['applied 2016']==1]
#print(df_2016_applied)

In [109]:
df_2016_xy = df_2016.iloc[:,:56].drop(['Dealer ID','No. of Employees','Gibson 18.Column3','registed 2016','JS 17.Column3','JS 18.Column3','JS 19.Column3','NON USER 17.Column3','NON USER 18.Column3','Velocity 17.Column3','centurty 18.Column3'],axis=1)

In [110]:
df_2016_xy.shape

(1473, 45)

In [111]:
df_2016_xy.columns
#df_2016_xy.isnull().any()

Index(['Converted State-AL', 'Converted State-AR', 'Converted State-CA',
       'Converted State-FL', 'Converted State-GA', 'Converted State-IL',
       'Converted State-IN', 'Converted State-KY', 'Converted State-LA',
       'Converted State-MI', 'Converted State-MO', 'Converted State-NC',
       'Converted State-NJ', 'Converted State-OH', 'Converted State-Others',
       'Converted State-PA', 'Converted State-SC', 'Converted State-TN',
       'Converted State-TX', 'employeebucket-NA', 'employeebucket-4~8',
       'employeebucket-<4', 'employeebucket->8', 'Sales between 0-99,999',
       'Sales between 100,000-499,999', 'Other Sales', 'Sales N/A',
       'Currently offers Consumer Financing?_No',
       'Currently offers Consumer Financing?_Yes',
       'Currently offers Consumer Financing?_N/A', 'Over 10', 'Below 10',
       'No year info', 'Hitting Potential 16.Column3', 'JS 16.Column3',
       'NON USER 16.Column3', 'brand_1', 'brand_2', 'brand_3', 'brand_4',
       'brand_5', 'brand_6', 'brand_7', 'brand_8', 'applied 2016'],
      dtype='object')

In [112]:
df_2016_xy.head()

,Converted State-AL,Converted State-AR,Converted State-CA,Converted State-FL,Converted State-GA,Converted State-IL,Converted State-IN,Converted State-KY,Converted State-LA,Converted State-MI,...,NON USER 16.Column3,brand_1,brand_2,brand_3,brand_4,brand_5,brand_6,brand_7,brand_8,applied 2016
0,0,0,0,0,0,0,0,0,0,0,...,1,1,0,1,0,0,0,0,0,1
1,0,0,0,1,0,0,0,0,0,0,...,1,0,1,0,1,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,1,0,0,1,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,1,0,0

In [113]:
x = df_2016_xy.iloc[:,:44]
y = df_2016_xy.iloc[:,44].astype(int)

In [114]:
#split data into train and test
x_train, x_test, y_train, y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [115]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier(criterion="entropy", max_depth=4)

# Train Decision Tree Classifer
clf = clf.fit(x_train,y_train)

#Predict the response for test dataset
y_pred = clf.predict(x_test)

In [126]:
print(y_pred)

[0 1 0 0 0 0 0 1 1 1 1 1 1 1 1 0 0 0 1 0 1 1 1 0 0 1 0 0 1 1 0 0 1 0 1 0 1
 1 1 1 0 0 1 1 0 1 0 0 0 1 0 1 1 0 1 0 1 0 0 1 1 1 1 1 0 1 1 1 1 1 0 1 1 1
 0 1 0 0 1 0 0 0 0 0 1 0 1 1 0 0 1 0 1 0 1 1 0 0 1 1 0 1 1 1 0 1 0 1 1 0 1
 0 1 0 0 0 0 0 0 0 1 0 0 1 0 1 1 1 0 1 0 1 1 0 1 0 1 0 0 1 1 0 1 1 1 0 1 1
 1 0 1 1 1 0 1 0 1 0 1 1 0 0 1 0 0 1 0 0 0 1 0 0 1 1 0 1 0 0 1 1 0 0 0 1 0
 0 0 1 1 0 0 0 0 1 1 1 1 0 0 1 0 0 1 0 0 0 1 1 1 1 0 0 1 1 1 0 0 0 1 0 1 1
 1 0 0 0 1 0 0 1 0 0 1 1 0 0 1 1 1 1 1 1 1 0 0 0 0 1 1 0 1 1 0 1 0 1 0 0 0
 1 1 1 1 0 0 0 1 1 0 1 1 0 0 0 0 0 0 1 0 0 0 1 1 1 0 1 0 0 0 0 0 1 0 1 0]

In [116]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.5525423728813559

In [117]:
print(list(x.columns))

['Converted State-AL', 'Converted State-AR', 'Converted State-CA', 'Converted State-FL', 'Converted State-GA', 'Converted State-IL', 'Converted State-IN', 'Converted State-KY', 'Converted State-LA', 'Converted State-MI', 'Converted State-MO', 'Converted State-NC', 'Converted State-NJ', 'Converted State-OH', 'Converted State-Others', 'Converted State-PA', 'Converted State-SC', 'Converted State-TN', 'Converted State-TX', 'employeebucket-NA', 'employeebucket-4~8', 'employeebucket-<4', 'employeebucket->8', 'Sales between 0-99,999', 'Sales between 100,000-499,999', 'Other Sales', 'Sales N/A', 'Currently offers Consumer Financing?_No', 'Currently offers Consumer Financing?_Yes', 'Currently offers Consumer Financing?_N/A', 'Over 10', 'Below 10', 'No year info', 'Hitting Potential 16.Column3', 'JS 16.Column3', 'NON USER 16.Column3', 'brand_1', 'brand_2', 'brand_3', 'brand_4', 'brand_5', 'brand_6', 'brand_7', 'brand_8']

In [118]:
#visulization of tree
from sklearn.tree import export_graphviz
from sklearn.externals.six import StringIO  
from IPython.display import Image  
import pydot
dot_data = StringIO()  
export_graphviz(clf, out_file=dot_data,
                    filled=True, rounded=True,special_characters=True)
graph = pydot.graph_from_dot_data(dot_data.getvalue())  

Image(graph.create_png())

AttributeError: 'list' object has no attribute 'create_png'

In [119]:
#calculate the confusion matrix
from sklearn.metrics import confusion_matrix
matrix=confusion_matrix(y_test, y_pred)
confusion_matrix_1=pd.DataFrame(matrix,columns=['Pred_true','Pred_false'],index=['real_true','real_false'])
confusion_matrix_1

            Pred_true  Pred_false
real_true          82          66
real_false         66          81

In [120]:
#calculate the F1 score
from sklearn.metrics import f1_score
f1_score_macro=f1_score(y_test, y_pred, average='macro')
f1_score_micro=f1_score(y_test, y_pred, average='micro')
f1_score_weighted=f1_score(y_test, y_pred, average='weighted')

In [121]:
f1_score_macro

0.5525372311086596

In [122]:
f1_score_micro

0.5525423728813559

In [123]:
f1_score_weighted

0.5525423728813559

In [124]:
f1_score=pd.DataFrame({'f1_score_macro':[f1_score_macro],'f1_score_micro':[f1_score_micro],'f1_score_weighted':[f1_score_weighted]},index=['score'])

In [125]:
f1_score

       f1_score_macro  f1_score_micro  f1_score_weighted
score        0.552537        0.552542           0.552542